<div class="page-header">
  <h1>Waittime#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= waittimesPath() %>" class="btn btn-info">Back to all Waittimes</a></li>
  <li class="list-inline-item"><a href="<%= editWaittimePath({ waittime_id: waittime.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= waittimePath({ waittime_id: waittime.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

