<div class="page-header">
  <h1>Checkpoint#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= checkpointsPath() %>" class="btn btn-info">Back to all Checkpoints</a></li>
  <li class="list-inline-item"><a href="<%= editCheckpointPath({ checkpoint_id: checkpoint.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= checkpointPath({ checkpoint_id: checkpoint.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

